body {
  background: linear-gradient(#222, #222);
  color: white;
  margin: 0;
  font-family: rubik;
}

.container {

  padding: 40px;
  margin: 0 auto;
}

p {
  margin: 0px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
}

.card-subtitle {
  margin: 5px;
  color: #666;
  font-weight: lighter;
}

.card-title-radio {
  margin: 5px;
  color: #666;
  font-weight: lighter;
}

.card-subtitle-grass {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #46A047;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-poison {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #B11F83;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-fire {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #BD2027;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-water {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #0576BC;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-dark {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #0C313A;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-dark {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #0C313A;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-bug {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #E8E95F;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-flying {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #c9ccce;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-bug {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #E8E95F;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-electric {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #F5B915;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-rock {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #927F6D;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-ground {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #914F22;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-psychic {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #E06995;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-normal {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #FADB89;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-fairy {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #72D0EF;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-steel {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #B8B9BE;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-ice {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #63CDF6;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-fighting {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #95472B;
  color: #fff;
  border-radius: 10px;
}

.card-subtitle-ghost {
  margin-bottom: 5px;
  padding: 3px;
  width: 100px;
  background: #756C9F;
  color: #fff;
  border-radius: 10px;
}


.card-image {
  height: 180px;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}